@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #143742;
}

h1 {
    padding: 30px;
    background-color: #417388;
    height: 100px;
    font-family: Lobster, fantasy;
}

a {
    text-decoration-line: none;
    color: rgba(0, 222, 139, 0.7);
}

nav {
    padding: 30px;
    text-align: center;
    float: right;
}
.menu {
    display: block;
}
.menu > li {
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 222, 139, 0.7);
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
}
.sub-menu {
    float: right;
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    width: 140px;
    height: 40px;
    border-radius: 15px;
}

.sub-menu li {
    font-size: 20px;
    background-color: rgba(0, 222, 139, 0.7);
    padding: 8px 0;
    color: white;
    border: 1px solid #fff;
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    border-radius: 4px;

}

.sub-menu li:last-child {
    border-bottom: 0;
}
.sub-menu li:hover {
    background: #ed2794;
}
.menu > li:hover .sub-menu li {
    transform: scale(1);
}
.menu > li:hover .sub-menu {
    transform: scale(1);
}

ul {
    list-style-type: none;
}
#profil {
    background-image: url(../img/hamburger+list+menu+navigation+stack+icon-1320196714059164103.png);
    background-size: cover;
    background-position: center;

}

#searchbar {
    position:relative;
    width:200px; height:auto;
    text-align: center;
}
.formulaire {
    display:inline-block;
}
.formulaire .champ {
    width:150px;
    height:25px;
}
.formulaire .bouton {
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bouton {
    width: 25px
}
ul {
    text-align: center
}



