@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #417388;
}

h1 {
    text-align: center;
    font-family: Akronim;
    background-color: #1ABC9C;
    border-radius: 3em;
}


#navigation a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */

    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */
    background-color: #1ABC9C;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    transition: all 1s ;          /* Ajout des effets de transition */
}

#navigation a:hover {
    background-color: #ed2794;
    color: #ffe843;
    border-color: #ffe843;
}


#searchbar{position:relative; width:200px; height:auto; text-align: right}
.formulaire               {display:inline-block;}
.formulaire .champ       {width:150px; height:15px;}

