@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




body {
    width: 100%;
    background-color: #222c3d;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.banierre {
    width: 100%;
    height: 200px;
}



h2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: rgba(0, 222, 139, 0.7);

}


section {
    width: 50%;
    height: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    border: solid 2px cadetblue;
    border-radius: 15px;
    backdrop-filter: blur(16px) saturate(180%);
}

h1 {
    background-color: #101010;
    color: #ffffff;
    text-align: center;
    font-family: Lobster, fantasy;
    border-radius: 15px;
    opacity: 80%;
}

.war {
    width: 22%;
    height: 25%;
    border: solid 5px #8d6c27;
    border-radius: 15px;
    background-image: url(../warrior.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;

}
.war:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(224, 115, 36);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;

}

.paladin {
    width: 22%;
    height: 25%;
    border: solid 5px #e601ff;
    border-radius: 15px;
    background-image: url(../img/227524.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;

}
.paladin:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(230, 1, 255);
    opacity: 100%;
    animation-name: carte;
    transform: translateY(-30px) ;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.pretre {
    width: 22%;
    height: 25%;
    border: solid 5px #ffffff;
    border-radius: 15px;
    background-image: url(../img/b555c4380ed3d436d272df0e21a558a4.png);
    background-size: cover;
    background-position: center;
    opacity: 90%;

}
.pretre:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(255, 255, 255);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.mage {
    width: 22%;
    height: 25%;
    border: solid 5px rgb(6, 255, 255);
    border-radius: 15px;
    background-image: url(../img/RhoninTCG.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;

}
.mage:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(0, 192, 192);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.voleur {
    width: 22%;
    height: 25%;
    border: solid 5px rgb(238, 255, 0);
    border-radius: 15px;
    background-image: url(../img/4a4d0880e0225bb65560d2c178410974.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.voleur:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(238, 255, 0);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.chasseur {
    width: 22%;
    height: 25%;
    border: solid 5px rgb(14, 204, 0);
    border-radius: 15px;
    background-image: url(../img/unnamed.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.chasseur:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(94, 255, 0);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.chevalier-de-la-mort {
    width: 22%;
    height: 25%;;
    border: solid 5px rgb(255, 0, 0);
    border-radius: 15px;
    background-image: url(../img/AlexCrowley.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.chevalier-de-la-mort:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(255, 0, 0);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.moine {
    width: 22%;
    height: 25%;
    border: solid 5px rgb(0, 204, 116);
    border-radius: 15px;
    background-image: url(../img/1399100-monk-article_image_bd-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;

}

.moine:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(0, 178, 104);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.demoniste {
    width: 22%;
    height: 25%;
    border: solid 5px rgb(129, 12, 255);
    border-radius: 15px;
    background-image: url(../img/1b29e49935a71f612be275f30ea309d4.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.demoniste:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(129, 8, 255);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.dh {
    width: 22%;
    height: 25%;
    border: solid 5px rgb(170, 105, 245);
    border-radius: 15px;
    background-image: url(../img/022cd439-7b5d-4399-9dad-72b76a1dd0da_rw_1200.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.dh:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(148, 43, 255);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;


}

.chaman {
    width: 22%;
    height: 25%;
    border: solid 5px rgb(6, 85, 255);
    border-radius: 15px;
    background-image: url(../img/1c1225ed1d80edb25b5644a1558b016e.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.chaman:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(0, 103, 255);
    opacity: 100%;
    transform: translateY(-30px) ;
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.druide {
    width: 22%;
    height: 25%;
    border: solid 5px rgb(255, 138, 0);
    border-radius: 15px;
    background-image: url(../img/bcfc3178cf3dfbd3439984085eae777b.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.druide:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(255, 138, 0);
    opacity: 100%;
    transform: translateY(-30px);
    animation-name: carte;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}


@keyframes carte {


    10%, 90% {
        transform: rotate(1deg);
    }

    20%, 80% {
        transform: rotate(-1deg);

    }

    30%, 50%, 70% {
        transform: rotate(1deg);


    }

    40%, 60% {
        transform: rotate(-1deg);
    }
}


