

body {
    width: 100%;
    height: auto;
    background-color: #417388;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

section {
    width: 60%;
    height: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 320px;
}

.war {
    width: 30%;
    height: 350px;
    border: solid 5px #8d6c27;
    border-radius: 15px;
    background-image: url(../warrior.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}
.war:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(224, 115, 36);
    opacity: 100%;
}

.paladin {
    width: 30%;
    height: 350px;
    border: solid 5px #e601ff;
    border-radius: 15px;
    background-image: url(../img/227524.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}
.paladin:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(230, 1, 255);
    opacity: 100%;
}

.pretre {
    width: 30%;
    height: 350px;
    border: solid 5px #ffffff;
    border-radius: 15px;
    background-image: url(../img/b555c4380ed3d436d272df0e21a558a4.png);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}
.pretre:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(255, 255, 255);
    opacity: 100%;
}

.mage {
    width: 30%;
    height: 350px;
    border: solid 5px rgb(6, 255, 255);
    border-radius: 15px;
    background-image: url(../img/RhoninTCG.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}
.mage:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(0, 192, 192);
    opacity: 100%;
}

.voleur {
    width: 30%;
    height: 350px;
    border: solid 5px rgb(238, 255, 0);
    border-radius: 15px;
    background-image: url(../img/4a4d0880e0225bb65560d2c178410974.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.voleur:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(238, 255, 0);
    opacity: 100%;
}

.chasseur {
    width: 30%;
    height: 350px;
    border: solid 5px rgb(94, 255, 0);
    border-radius: 15px;
    background-image: url(../img/unnamed.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.chasseur:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(94, 255, 0);
    opacity: 100%;
}

.chevalier-de-la-mort {
    width: 30%;
    height: 350px;
    border: solid 5px rgb(255, 0, 0);
    border-radius: 15px;
    background-image: url(../img/AlexCrowley.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.chevalier-de-la-mort:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(255, 0, 0);
    opacity: 100%;
}

.moine {
    width: 30%;
    height: 350px;
    border: solid 5px rgb(0, 204, 116);
    border-radius: 15px;
    background-image: url(../img/1399100-monk-article_image_bd-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.moine:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(0, 178, 104);
    opacity: 100%;
}

.demoniste {
    width: 30%;
    height: 350px;
    border: solid 5px rgb(129, 12, 255);
    border-radius: 15px;
    background-image: url(../img/1b29e49935a71f612be275f30ea309d4.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.demoniste:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(129, 8, 255);
    opacity: 100%;
}

.dh {
    width: 30%;
    height: 350px;
    border: solid 5px rgb(170, 105, 245);
    border-radius: 15px;
    background-image: url(../img/022cd439-7b5d-4399-9dad-72b76a1dd0da_rw_1200.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.dh:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(179, 105, 255);
    opacity: 100%;
}

.chaman {
    width: 30%;
    height: 350px;
    border: solid 5px rgb(6, 85, 255);
    border-radius: 15px;
    background-image: url(../img/1c1225ed1d80edb25b5644a1558b016e.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.chaman:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(0, 103, 255);
    opacity: 100%;
}

.druide {
    width: 30%;
    height: 350px;
    border: solid 5px rgb(255, 138, 0);
    border-radius: 15px;
    background-image: url(../img/bcfc3178cf3dfbd3439984085eae777b.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.druide:hover {
    cursor: pointer;
    box-shadow: 2px 16px 53px 0 rgb(255, 135, 0);
    opacity: 100%;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}